<div class="info-container">
  <!-- Profile header component, contains rounded photo, name, rating and reviews -->
  <lib-profile-header
    [orientation]="orientation"
    [photo]="client.photo"
    [name]="client.name"
    [leftIcon]="commonService.icons.hash"
    [leftText]="client.age + ' ' + ('GURU.YEARS_OLD' | translate)"
    [rightIcon]="commonService.icons.location"
    [rightText]="client.address"
  ></lib-profile-header>

  <!-- Client information -->
  <div class="text-info">
    <span class="text-1 f-lato f-sm f-w-400 f-gray h-180"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis mattis aliquet fringilla sit integer. Hendrerit pharetra ornare non.</span
    >

    <span class="text-2 f-lato f-sm f-w-400 f-gray h-180"
      >Lorem ipsum dolor sit amet, consectetur adipiscing elit. Quis mattis aliquet fringilla sit integer. Hendrerit pharetra ornare non.</span
    >
  </div>
  <!-- Vertical right side tab bar -->
  <app-vertical-tabbar></app-vertical-tabbar>
</div>
