<ion-content mode="md">
  <div class="main-wrapper" appSubmitOnEnter (enter)="onContinue()" [route]="'rackAss'">
    <div class="top-text">
      <span class="message f-calistoga f-w-400 h-160 f-white">{{ 'UNMATCHED_USER.RACK_&_ASS' | translate }}</span>
      <div class="emojis">
        <ion-icon src="assets/icon/unmatched-registration/emoji_1.svg"></ion-icon>
        <ion-icon src="assets/icon/unmatched-registration/emoji_2.svg"></ion-icon>
      </div>
    </div>
    <span class="info f-w-400 f-md h-150 f-light-gray">
      {{ 'UNMATCHED_USER.RACK_&_ASS_MSG' | translate }}
    </span>

    <div class="selectable-container">
      <div class="face selectables">
        <div class="text f-gilroy-medium f-w-700 f-lg h-160 f-white">
          {{ 'UNMATCHED_USER.RACK' | translate }}
        </div>
        <ion-button (click)="onRackSelection(rack)" [class]="'btn-selectable ' + (rack.selected ? 'app-primary-button' : 'unselected')" *ngFor="let rack of racks">{{
          rack.name
        }}</ion-button>
      </div>
      <div class="Ethnicity selectables">
        <div class="text f-gilroy-medium f-w-700 f-lg h-160 f-white">
          {{ 'UNMATCHED_USER.ASS' | translate }}
        </div>
        <ion-button (click)="onAssSelection(ass)" [class]="'btn-selectable ' + (ass.selected ? 'app-primary-button' : 'unselected')" *ngFor="let ass of asses">{{
          ass.name
        }}</ion-button>
      </div>
    </div>
  </div>
  <app-range-meter [percentage]="percentage" [loading$]="loading$" [disabled]="form.invalid" (next)="onContinue()"> </app-range-meter>
</ion-content>
