.wrapper {
  display: flex;
  flex-direction: column;
  width: fit-content;
  margin: auto;
  padding: 32px 24px;
  min-height: 100%;
  margin-bottom: calc(32px + var(--footer-tab-clearance));
}

h3 {
  font-family: 'Calistoga';
  font-weight: 400;
  font-size: 28px;
  line-height: 160%;
  margin: 0;
}

.platforms {
  padding-left: 0;
  border-collapse: separate;
  border-spacing: 0 16px;
  margin-top: 16px; //    border-spacing-consumes the other 16px to make it a 32px gap

  tr {
    background: var(--ion-background-color-no-gradient);
    box-shadow: var(--cyrano-box-inset-shadow);
    border-radius: 34px;
    width: 100%;
    border-color: #fff;

    label {
      display: block;
      position: relative;
      z-index: 1;
      box-shadow: var(--cyrano-small-box-shadow);
      width: 100%;
    }

    input {
      border: none;
      outline: none;
      padding-left: 13px;
      width: 100%;
      max-width: 100%;
    }
  }
}

.action-buttons {
  margin-top: auto;
  padding-top: 48px;
  display: flex;
  flex-wrap: wrap;
  gap: 16px;
  justify-content: space-between;

  button {
    &:last-child {
      flex: auto;
    }
  }
}

.custom-input {
  margin: 0;
  background: transparent;
  box-shadow: none;

  mat-icon {
    right: 16px;
  }
}

@media screen and (max-width: 360px) {
  .action-buttons {
    button {
      flex: auto;
    }
  }
}

@media screen and (max-width: 300px) {
  .platforms {
    display: flex;
    flex-direction: column;
    gap: 24px;

    tr {
      display: flex;
      flex-direction: column;
      gap: 8px;
      box-shadow: none;
      background: transparent;

      label {
        text-align: left;
      }

      input {
        padding: 16px;
        padding-left: 32px;
        box-shadow: var(--cyrano-box-inset-shadow);
        background: var(--ion-background-color-no-gradient);
        border-radius: 24px;
      }
    }
  }
}
