<ion-content>
  <div class="wrapper">
    <h3>{{ 'ACCOUNT_TAKEOVER.EXISTING_ACCOUNTS.CHANGE_PLATFORMS_PASSWORD.ENTER_NEW_TEMP_PASSWORD' | translate }}</h3>
    <form [formGroup]="form">
      <table class="platforms" formArrayName="passwords">
        <ng-container *ngFor="let passwordControl of passwordsControl['controls']; let i = index">
          <tr [formGroup]="passwordControl">
            <td>
              <label class="app-pink-proceed-button">{{ passwordControl.value?.platform }}</label>
            </td>
            <td>
              <div class="custom-input">
                <input [placeholder]="'FIELDS.PASSWORD' | translate" [type]="passwordControl.value.hide ? 'password' : 'text'" formControlName="password" />
                <button
                  mat-icon-button
                  type="button"
                  (click)="toggleHideControlValue(passwordControl, passwordControl.value.hide)"
                  [attr.aria-label]="'Hide password'"
                  [attr.aria-pressed]="passwordControl.value.hide"
                >
                  <mat-icon>{{ passwordControl.value.hide ? 'visibility_off' : 'visibility' }}</mat-icon>
                </button>
              </div>
            </td>
          </tr>
        </ng-container>
      </table>
    </form>

    <section class="action-buttons">
      <button class="app-black-return-button btn-back" routerLink="../access-codes">{{ 'BUTTONS.BACK' | translate }}</button>
      <button class="app-pink-proceed-button btn-proceed" [disabled]="form?.invalid" (click)="onSave()">
        {{ 'BUTTONS.COMPLETE' | translate }}
      </button>
    </section>
  </div>
</ion-content>
