.date-progress {
  margin-top: 32px;
}

app-date-progress {
  --width: 58.6px;
}

.horizontal-scroll {
  -ms-overflow-style: none;
  scrollbar-width: none;

  &::-webkit-scrollbar {
    display: none;
  }
}

.wrapper {
  display: flex;
  gap: 30px;
  overflow-x: auto;
  align-content: center;
  margin-top: 14px;
}

.container {
  position: relative;
  margin: auto;
  width: 100%;
  max-width: 800px;
  overflow-y: auto;
  box-shadow: var(--box-shadow);
  padding-left: 1.5rem;
  padding-right: 1.5rem;
}

app-upcoming-dates {
  display: flex;
  margin-left: -16px;
}

.potential-dates-wrapper {
  margin-top: 32px;
  overflow-x: visible;

  &.dashboard-3 {
    margin-top: 53px;
  }
}

.potential-dates-container {
  display: flex;
  overflow-x: auto;
  gap: 32px;
  margin-top: 14px;
  padding: 0 18px;
  margin-left: -16px;
  scroll-snap-type: x mandatory;
  scroll-padding: 18px;

  app-potential-dates {
    scroll-snap-align: start;
  }
}

.scroll {
  overflow-x: visible;
  height: 100%;
  padding-block: 3rem;
}
.multi-colored {
  font-weight: 400;
  font-size: 1rem;
  font-family: 'Calistoga';
}

.space-out-on-large-screen {
  @media screen and (min-width: 768px) {
    justify-content: space-around;
  }
}

.explore-button {
  height: 38px;
  width: 95%;
  margin: 10px auto;
  border: var(--border-2);
  color: var(--ion-text-color-secondary);
  border-radius: 65px;
  text-transform: none !important;
  font: 14px Lato;
  font-weight: 600;
}

.dashboard-3 {
  justify-content: center;
  gap: 37px;

  .half-width {
    width: 50%;
    max-height: 190px;
    max-width: 147px;
  }
}
app-multi-colored-text {
  &.dashboard-2 {
    text-align: center;
  }
}

@media screen and (max-width: 380px) {
  .dashboard-3 {
    gap: 0;
    justify-content: space-between;
  }
}

@media screen and (max-width: 345px) {
  .dashboard-3 {
    flex-direction: column;
    align-items: center;
    gap: 30px;

    .half-width {
      width: 100%;
    }
  }

  .scroll {
  }
}

@media screen and (max-width: 300px) {
  .half-width {
    width: 100%;
  }
}
