@import '../guru.global.scss';

.notification-container {
  margin-top: 19px;
  max-width: 470px;
  margin-left: auto;
  margin-right: auto;

  .mark-btn {
    --background: none;
    --box-shadow: none;
    border: 1.4px solid var(--ion-text-color-secondary);
    border-radius: 64px;
    width: unset;
    height: 38px;
    display: flex;
    margin-left: auto;
    margin-right: auto;
    margin-top: 164px;
    text-transform: capitalize;
  }

  .notification-item {
    display: flex;
    flex-direction: column;
    margin-bottom: 38px;

    .main-part {
      display: flex;
      app-rounded-photo {
        min-width: 32px;
      }

      .text-part {
        margin-left: 12px;
        display: grid;
      }
    }
    .promotion {
      margin-top: 38px;
    }
  }
}
