<div class="social-login">
  <button mat-mini-fab aria-label="googleBtn" class="primary-btn" type="button" (click)="socialLogin('google')">
    <img src="assets/icon/social/google.svg" width="20" height="20" alt="" />
  </button>
  <button mat-mini-fab aria-label="facebookBtn" class="primary-btn" type="button" (click)="socialLogin('facebook')">
    <img src="assets/icon/social/facebook.svg" width="25" height="25" alt="" />
  </button>
  <button mat-mini-fab aria-label="twitterBtn" class="primary-btn" type="button" (click)="socialLogin('twitter')">
    <img src="assets/icon/social/twitter.svg" width="20" height="20" alt="" />
  </button>
</div>
