.light[app-theme] {
  --link: #ca51f9;
  --border: 1px solid rgba(0, 0, 0, 0.5);
  --border-2: 2px solid rgba(0, 0, 0, 0.5);
  --border-color: rgba(0, 0, 0, 0.5);
  --ion-text-color-secondary: rgba(0, 0, 0, 0.5);
  --ion-text-color: #27242c;
  --ion-background-color: linear-gradient(191.18deg, #fff 61.33%, #fff 101.43%);
  --primary-background: linear-gradient(191.18deg, #27242c 61.33%, #0c0b0e 101.43%);
  --slider-background: linear-gradient(180deg, #403d46 0%, #3e3b44 100%);
  --box-shadow: 11px 10px 27px 2.5px rgba(238, 239, 235, 0.65), -5px -5px 16px -3px rgba(203, 199, 209, 0.25);
  --cyrano-box-shadow: 11px 10px 27px 2.5px rgba(238, 239, 235, 0.65), -5px -5px 16px -3px rgba(203, 199, 209, 0.25);
  --box-shadow-2: -2px -2px 10px rgba(0, 0, 0, 0.25), 4px 4px 8px rgba(255, 255, 255, 0.25);
  --input-box-shadow: inset 17px 22px 20px 2.5px rgba(238, 239, 235, 0.65), inset -2px -2px 8px rgba(203, 199, 209, 0.25);
  --footer-backgound: linear-gradient(358.62deg, #ffffff 37.08%, #e9eff1 124.45%);
  --footer-tab-label: linear-gradient(94.44deg, #fe3c72 1.26%, #e15561 100%);
  --button-background: #ededed;
  --footer-add-btn-box-shadow1: 6px 6px 9px 1px rgb(226 234 237 / 87%), -6px -6px 25px 0.5px #ffffff;
  --footer-add-btn-box-shadow2: inset 6px 6px 9px 1px rgb(222 230 233 / 87%), inset -6px -6px 25px 0.5px #ffffff;
  --header-button-shadow: 6px 6px 9px 1px rgba(226, 226, 226, 0.87), -6px -6px 25px 0.5px #ffffff;
  --fab-backdrop: linear-gradient(191.18deg, #27242c 61.33%, #0c0b0e 101.43%);
  --fab-text-color: #ffffff;
  --fab-mins-color: rgba(255, 255, 255, 0.7);
  --itinerary-card-background: #101317;
  --icon-color: #bbbabc;
  --upcoming-date-card-box-shadow: 8px 8px 5px rgba(17, 16, 20, 0.25), -8px -8px 12px -2px rgba(203, 199, 209, 0.15);
  --upcoming-dates-card-bottom-background: white;
  --text-accent-color: #afaa77;
  --header-background: linear-gradient(180deg, #27242c 77.93%, rgba(39, 36, 44, 0) 100.22%);
  --profile-swiper-background: linear-gradient(191.18deg, #ffffff 61.33%, #ffffff 80.43%);
  --cyrano-pink-shade-1: #fe3c72;
  --cyrano-pink-shade-2: #e15561;
  --cyrano-pink-shade-3: #fe769c;
  --text-highlight-color: #222;
  --header-backgound: linear-gradient(180deg, #27242c 77.93%, rgba(39, 36, 44, 0) 100.22%);
  --cyrano-box-inset-shadow: inset -3px -3px 4px rgba(255, 255, 255, 0.1), inset 5px 5px 10px rgba(0, 0, 0, 0.32);
  --ion-background-color-no-gradient: #fff;
  --ion-text-color-secondary2: rgba(0, 0, 0, 0.5);
  --ion-foreground-color: rgba(0, 0, 0, 0.5);
  --ion-confirmation-background: #fedfa4;
  --cyrano-pinky-gradient: linear-gradient(94.44deg, #fe3c72 1.26%, #e15561 100%);
  --cyrano-small-box-shadow: -2px -2px 10px rgba(255, 255, 255, 0.25), 4px 4px 8px rgba(0, 0, 0, 0.25);
  --cyrano-big-box-shadow-2: 11px 10px 27px 2.5px rgba(17, 16, 20, 0.5), -3px -3px 10px -3px rgba(203, 199, 209, 0.25);
  --background-color: #f6f6ff;
  --cyrano-gray-background: #adadad;
  --cyrano-rgb-primary-color-point5: rgba(0, 0, 0, 0.5);
  --cyrano-primary-color-point5: rgba(0, 0, 0, 0.5);
  --cyrano-milky-white: #f7f5dd;
  --progress-circle-box-shadow: none;
  --progress-circle-background: #fff;
  --progress-nested-circle-box-shadow: none;
  --cyrano-gray-color: #525252;
  --cyrano-dark-color: #d7dad2;
  --cyrano-maps-shadow: 6px 6px 12px #151617, -5px -5px 10px #363636, inset 2px 2px 4px #323232, inset -3px -3px 6px rgb(0 0 0 / 32%);
  --cyrano-maps-background: linear-gradient(180deg, #3a3e45 0%, #1c2028 100%);
  --cyrano-maps-shadow-back: 1.7px 1.7px 3.46667px #0d0a0e, -1.7px -1.7px 3.46667px #272129;
  --cropper-overlay-color: #28252d;
  --cropper-outline-color: rgba(0,0,0, 0.1);
  --cropper-loader-color: #fe3c72;
}
