@import '../../shared.scss';

.message {
  margin-bottom: 0px;
}

.button-disabled {
  cursor: default;
  opacity: 1;
  pointer-events: none;
}

.form {
  .phone-edit {
    margin-top: 8px;
    display: flex;
    flex-direction: row;
    gap: 16px;
    margin-bottom: 32px;

    span {
      letter-spacing: -0.011em;
      display: flex;
      align-items: center;
    }

    ion-button {
      width: 56px;
      height: 35px;
      font-size: 14px;
    }
  }

  .verification-code {
    margin-bottom: 31.54px;

    lib-otp-input {
      --gap: 8.43px;
      --width: 61.42px;
      --height: 73.46px;
      --border-radius: 24px;
      --padding-top: 14px;
      --padding-bottom: 14px;
      --padding-left: unset;
      --padding-right: unset;
      --font-size: 24px;
      --font-weight: 400;
      --box-shadow: var(--input-box-shadow);
      --border-bottom: unset;
      --border-bottom-disabled: unset;
      --invalid-box-shadow: inset 0 0 10px 0 #fe3c72;
      --margin: unset;
      --color: white;
    }

    @media screen and (max-width: 390px) {
      lib-otp-input {
        --width: 54px;
        --height: 68px;
      }
    }

    @media screen and (max-width: 350px) {
      lib-otp-input {
        --width: 50px;
        --height: 62px;
      }
    }

    @media screen and (max-width: 325px) {
      lib-otp-input {
        --width: 40px;
        --height: 56px;
      }
    }

    @media screen and (max-width: 300px) {
      input {
        height: 60px;
      }
    }
  }

  @media screen and (min-width: 412px) {
    .verification-code {
      justify-content: center;
    }
  }

  .resend-container {
    display: grid;
    flex-direction: row;
    justify-content: center;

    .resend {
      width: 122px;
      height: 48px;
      --border-width: 1px;
      font-family: 'Gilroy-Regular';
      font-size: 18px;
      font-weight: 400;
      margin-bottom: 8px;
    }

    @media screen and (max-width: 300px) {
      .resend {
        font-size: 16px;
      }
    }

    span {
      letter-spacing: -0.011em;
      text-align: center;
    }
  }
}

@media screen and (min-width: 420px) {
  .form {
    align-items: center;
    display: flex;
    flex-direction: column;
  }
}
