@font-face {
  font-family: 'Gilroy-Medium';
  src: url('../assets/fonts/gilroy/Gilroy-Medium_0.ttf');
}

@font-face {
  font-family: 'Gilroy-SemiBold';
  src: url('../assets/fonts/gilroy/Gilroy-SemiBold_0.ttf');
}

@font-face {
  font-family: 'Gilroy-Regular';
  src: url('../assets/fonts/gilroy/Gilroy-Regular_0.ttf');
}

@font-face {
  font-family: 'Gilroy-Bold';
  src: url('../assets/fonts/gilroy/Gilroy-Bold_0.ttf');
}

@font-face {
  font-family: 'Gilroy-Thin';
  src: url('../assets/fonts/gilroy/Gilroy-Thin_0.ttf');
}

/* Text styles */
.f-lato {
  font-family: 'Lato', serif;
  font-style: normal;
}

.f-calistoga {
  font-family: 'Calistoga', serif;
  font-style: normal;
}

.f-roboto {
  font-family: 'Roboto', serif;
  font-style: normal;
}

.f-inter {
  font-family: 'Inter', serif;
  font-style: normal;
}

.f-gilroy-medium {
  font-family: 'Gilroy-Medium', serif;
}

.f-gilroy-semibold {
  font-family: 'Gilroy-SemiBold', serif;
}

.f-gilroy-regular {
  font-family: 'Gilroy-Regular', serif;
}

/* font sizes */
.f-size-34 {
  font-size: 2.125rem;
}

.f-3xl {
  font-size: 28px;
}

.f-2xl {
  font-size: 24px;
}

.f-xl {
  font-size: 18px;
}

.f-lg {
  font-size: 16px;
}

.f-md {
  font-size: 14px;
}

.f-sm {
  font-size: 12px;
}

.f-xs {
  font-size: 10px;
}

/* colors */
.f-white {
  color: var(--ion-text-color);
}

.f-dark {
  color: var(--ion-text-color-secondary);
}

.f-gray {
  color: var(--ion-text-color);
  opacity: 0.6;
}

.f-light-gray {
  color: var(--ion-text-color);
  opacity: 0.7;
}

.f-accent {
  color: var(--text-highlight-color);
}

/* Font heights */
.h-160 {
  line-height: 160%;
}

.h-100 {
  line-height: 100%;
}

.h-110 {
  line-height: 110%;
}

.h-150 {
  line-height: 150%;
}

.h-180 {
  line-height: 180%;
}

/* font weights */
.f-w-400 {
  font-weight: 400;
}

.f-w-500 {
  font-weight: 500;
}

.f-w-600 {
  font-weight: 600;
}

.f-w-700 {
  font-weight: 700;
}

h1,
h2,
h3,
h5,
h5,
h6,
p {
  margin: 0;
}
