<ion-content fullscreen>
  <div class="auth-container">
    <app-auth-header></app-auth-header>
    <form [formGroup]="resetPasswordForm" (ngSubmit)="onSubmit()" autocomplete="off" appFocusInvalidInput *ngIf="resetPasswordForm">
      <div class="center-contents-column">
        <img [src]="commonUtilService.icons.logo" class="cyrano-logo" width="170" height="80" alt="" />
        <p class="form-title primary-text">{{ 'AUTH.CREATE_NEW_PASSWORD' | translate }}</p>
        <div class="auth-circle">
          <img [src]="commonUtilService.icons.password.unlock" alt="" />
        </div>
        <p class="primary-text">
          {{ 'AUTH.FORGOT_PASSWORD_ENTER_NEW_PASSWORD' | translate }}
        </p>
        <div class="custom-input">
          <lib-input-field
            [readonly]="loading"
            [type]="hide ? 'password' : 'text'"
            formControlName="password"
            customPasswordValidator
            [label]="'FIELDS.PASSWORD' | translate"
          ></lib-input-field>
          <button mat-icon-button type="button" (click)="hide = !hide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="hide">
            <mat-icon>{{ hide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        <app-error-message class="input-error bottom-space" [customErrorMessage]="password.errors?.message || ''" [control]="password"> </app-error-message>

        <div class="custom-input">
          <lib-input-field
            [readonly]="loading"
            [type]="confirmPasswordHide ? 'password' : 'text'"
            formControlName="confirmPassword"
            [appConfirmPasswordValidator]="'password'"
            [label]="'FIELDS.CONFIRM_PASSWORD' | translate"
          ></lib-input-field>
          <button mat-icon-button type="button" (click)="confirmPasswordHide = !confirmPasswordHide" [attr.aria-label]="'Hide password'" [attr.aria-pressed]="confirmPasswordHide">
            <mat-icon>{{ confirmPasswordHide ? 'visibility_off' : 'visibility' }}</mat-icon>
          </button>
        </div>
        <app-error-message
          class="input-error"
          [customErrorMessage]="
            resetForm.confirmPassword.value && resetForm.confirmPassword.errors && (resetForm.confirmPassword.touched || resetForm.confirmPassword.dirty)
              ? ('FIELDS.PASSWORD_MUST_MATCH' | translate)
              : ''
          "
          [control]="resetPasswordForm.controls['confirmPassword']"
        >
        </app-error-message>
        <button
          mat-raised-button
          id="auth-btn"
          aria-label="reset password"
          [ngClass]="{ disable: loading }"
          class="forgot-password-submit-btn primary-button normal-text"
          type="submit"
          [disabled]="loading"
        >
          <ion-spinner color="danger" *ngIf="loading" name="dots"></ion-spinner>
          <span *ngIf="!loading">{{ 'SAVE' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</ion-content>
