.fab-horizontal-end {
  right: calc(25px + var(--ion-safe-area-right, 0px));
}

.fab-list-side-top,
.fab-list-side-bottom {
  margin: 80px 15px;
}

.fab-list-side-start {
  margin: 0px 66px;
}

ion-fab .fab-list-active .fab-list-side-start-child {
  margin: -5px 66px;
}

.icon-text-container {
  display: grid;
  text-align: center;
}

ion-label,
span {
  font-family: 'Lato';
  font-style: normal;
  font-weight: 400;
}

ion-label {
  font-size: 12px;
  line-height: 160%;
  color: #fff;
}

.text-large {
  font-size: 12px;
  line-height: 104%;
  font-weight: 600;
  color: var(--fab-text-color);
}

.text-small {
  font-size: 10px;
  line-height: 99%;
  font-weight: 600;
  color: var(--fab-mins-color);
}

.top-right {
  margin: 60px -45px;
}

.bottom-right {
  margin: 65px -45px;
}

ion-fab-button {
  width: 46px;
  height: 46px;
  --background: var(--ion-text-color);
  box-shadow: var(--box-shadow);
  border-radius: 100px;

  ion-icon {
    width: 20.8px;
    height: 18.09px;
  }
}
