<ion-content fullscreen>
  <div class="auth-container">
    <app-auth-header></app-auth-header>
    <form [formGroup]="forgotPasswordFormGroup" (ngSubmit)="onSubmit()" autocomplete="off" appFocusInvalidInput *ngIf="forgotPasswordFormGroup">
      <div class="center-contents-column">
        <img [src]="commonUtilService.icons.logo" width="170" height="80" alt="" class="cyrano-logo" />
        <p class="form-title primary-text">{{ 'AUTH.FORGOT_PASSWORD' | translate }}</p>
        <div class="auth-circle">
          <img [src]="commonUtilService.icons.password.lock" alt="" />
        </div>
        <p class="primary-text">{{ 'AUTH.FORGOT_PASSWORD_ENTER_EMAIL' | translate }}</p>
        <div class="custom-input">
          <lib-input-field type="text" [readonly]="loading" formControlName="email" [label]="'FIELDS.EMAIL' | translate"></lib-input-field>
        </div>
        <app-error-message class="input-error" [control]="email"></app-error-message>

        <button
          mat-raised-button
          id="auth-btn"
          class="forgot-password-submit-btn primary-button normal-text"
          [ngClass]="{ disable: loading }"
          aria-label="forgot password"
          type="submit"
          [disabled]="loading"
        >
          <ion-spinner color="danger" *ngIf="loading" name="dots"></ion-spinner>
          <span *ngIf="!loading">{{ 'SEND' | translate }}</span>
        </button>
      </div>
    </form>
  </div>
</ion-content>
