@import '../guru.global.scss';

.app-input {
  margin: 0px 0px;
}
.main-wrapper {
  padding: 0px 24px;

  &-top {
    padding-right: 19px;
    height: 344px;
    padding-top: 30px;
    position: relative;
  }

  .top-container {
    width: 100%;
    height: 45%;
  }

  .bottom-container {
    height: 50%;
    display: flex;
    margin-top: 28px;
    max-width: 470px;
    margin-left: auto;
    margin-right: auto;
    margin-bottom: 32px;

    ion-input {
      background: var(--ion-background-color);
      width: 100%;
      font-weight: 500;
      --padding-start: 33.88px;
      --padding-top: 14px;
      --padding-bottom: 12px;
      --padding-end: 20px;
      margin-right: 11px;
    }

    .container {
      border-radius: 8px;
      display: grid;
      place-items: center;
    }

    .circular-progress {
      position: relative;
      height: 48px;
      width: 48px;
      border-radius: 50%;
      display: grid;
      place-items: center;
      transform: rotate(180deg);
      box-shadow: 4px 6px 14px 5.5px rgb(254 60 114 / 8%), -5px -3px 13px -2px rgb(254 60 114 / 15%);

      ion-icon {
        transform: rotate(178deg);
        width: 20.8px;
        height: 18.09px;
        padding-top: 3px;
      }
    }

    .circular-progress:before {
      content: '';
      position: absolute;
      height: 80%;
      width: 80%;
      background-color: var(--button-background);
      border-radius: 50%;
    }
  }

  .cartoons {
    margin-left: auto;
    margin-right: auto;
    position: relative;
  }
}

@media screen and (max-width: $md) {
  .main-wrapper {
    padding: 0px 15px;
  }
  .main-wrapper-top {
    padding-top: 30px;
  }
}

ion-content {
  --padding-top: 10px;
  --padding-start: 0px;
  --padding-end: 0px;
}
