@import '../../guru.global.scss';

.context-container {
  padding-right: 6px;
  ion-row {
    margin-top: 40px;
  }

  ion-col {
    padding: 0px;
    display: flex;
    justify-content: center;
    align-items: center;
    ion-card {
      max-width: 103px;
      max-height: 101px;
      padding: 8px;
      margin-bottom: 0px;
      img {
        width: 100%;
        height: 100%;
      }
    }
  }
}
