:host {
  position: absolute;
  bottom: 0;
  left: 0;
  width: 100%;
  z-index: 29;
}

.tab-bar {
  background: var(--footer-backgound);
  border: unset;
  height: 95px;
  display: flex;

  .tab-button {
    padding-top: 14px;
    background: unset;
    justify-content: unset;
    flex: 1;

    div {
      padding: 10px;

      ion-icon {
        color: #fff;
        font-size: 24px;
        opacity: 0.5;

        &.selected-tab {
          color: var(--cyrano-pink-shade-2);
          opacity: 1;
        }
      }
    }

    ion-label {
      font-family: 'Lato', serif;
      font-style: normal;
      font-weight: 600;
      font-size: 14px;
      line-height: 160%;
      margin-top: 6.33px;
      background: var(--footer-tab-label);
      -webkit-background-clip: text;
      -webkit-text-fill-color: transparent;
      background-clip: text;
    }

    &:hover {
      background: unset;
    }
  }
}

.add-outer-container {
  width: 66px;
  height: 66px;
  border-radius: 50%;
  background: var(--button-background);
  box-shadow: var(--footer-add-btn-box-shadow1);
  position: absolute;
  left: calc(50% - 33px);
  bottom: 48px;
  z-index: 999;
  display: flex;
  justify-content: center;
  align-items: center;
  cursor: pointer;

  .add-inner-container {
    width: 58px;
    height: 58px;
    border-radius: 50%;
    background: var(--button-background);
    box-shadow: var(--footer-add-btn-box-shadow2);
    display: flex;
    justify-content: center;
    align-items: center;

    ion-icon {
      width: 24px;
      height: 24px;
    }
  }
}


ion-footer {
  background: var(--button-background);
  border-radius: 16px 16px 0 0;
  overflow: hidden;
}

.custom-footer {
  display: grid;
  grid-auto-columns: 1fr;
  grid-auto-flow: column;

  .mat-button {
    text-align: center;
    box-shadow: none;
    background: transparent;
    font-family: 'Gilroy-Regular';
    font-style: normal;
    font-weight: 600;
    font-size: 11px;
    line-height: 13px;
    min-width: 40px;
    padding: 14px 0 14px 0;
    opacity: 0.3;
    &.active {
      opacity: 1;
      color: var(--cyrano-pink-shade-1);
    }
  }
  img {
    position: relative;
    display: block;
    width: 20px;
    height: 20px;
    margin: 0 auto 6px;
  }
}
