.potential-date {
  background: #27242c;
  font-family: Lato;
  box-shadow: var(--box-shadow);
  border-radius: 8px;
  width: 145px;
  height: 200px;
  padding: 12px;
  display: flex;
  flex-direction: column;

  > img.date-image {
    border-radius: 8px;
    height: 128px;
    object-fit: fill;
  }

  .date-name {
    font: 14px Lato;
    font-weight: 400;
    color: white;
    line-height: 160%;
    margin-top: 7px;
  }

  .date-age {
    font: 12px Lato;
    font-weight: 400;
    line-height: 160%;
  }
}
